.mule/plugins-tmp/repository/7.11.0/com/mulesoft/connectors/telegram-messanger-api/1.0.0/mule-telegram.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/telegram" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/tls" schemaLocation="http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd"></xs:import>
  <xs:complexType name="com.mulesoft.connectivity.telegram.rest.commons.api.proxy.HttpProxyConfig">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="xs:string" use="required" name="host"></xs:attribute>
        <xs:attribute type="mule:substitutableInt" use="required" name="port"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="username"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="password"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="nonProxyHosts"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="abstract-proxy"></xs:element>
  <xs:element xmlns:telegram="http://www.mulesoft.org/schema/mule/telegram" substitutionGroup="telegram:abstract-proxy" name="proxy">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="telegram:com.mulesoft.connectivity.telegram.rest.commons.api.proxy.HttpProxyConfig">
          <xs:attribute type="xs:string" use="optional" name="name"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="1" maxOccurs="1" ref="mule:abstractConnectionProvider"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
          </xs:sequence>
          <xs:attribute type="mule:expressionInt" use="optional" default="1" name="responseTimeout"></xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="MINUTES" name="responseTimeoutUnit"></xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" default="AUTO" name="streamingType"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstractConnectionProvider" name="connection-provider-connection">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractConnectionProviderType">
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:reconnection"></xs:element>
            <xs:element xmlns:tls="http://www.mulesoft.org/schema/mule/tls" minOccurs="0" maxOccurs="1" ref="tls:context"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="default-headers">
              <xs:complexType>
                <xs:sequence>
                  <xs:element xmlns:telegram="http://www.mulesoft.org/schema/mule/telegram" minOccurs="0" maxOccurs="unbounded" ref="telegram:abstract-default-header"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="default-query-params">
              <xs:complexType>
                <xs:sequence>
                  <xs:element xmlns:telegram="http://www.mulesoft.org/schema/mule/telegram" minOccurs="0" maxOccurs="unbounded" ref="telegram:abstract-default-query-param"></xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="proxy-config">
              <xs:complexType>
                <xs:complexContent>
                  <xs:extension xmlns:telegram="http://www.mulesoft.org/schema/mule/telegram" base="telegram:com.mulesoft.connectivity.telegram.rest.commons.api.proxy.HttpProxyConfig"></xs:extension>
                </xs:complexContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="tlsContext"></xs:attribute>
          <xs:attribute type="mule:substitutableName" use="optional" name="defaultHeaders"></xs:attribute>
          <xs:attribute type="mule:substitutableName" use="optional" name="defaultQueryParams"></xs:attribute>
          <xs:attribute type="mule:substitutableInt" use="optional" default="30" name="connectionTimeout"></xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="connectionTimeoutUnit"></xs:attribute>
          <xs:attribute type="mule:substitutableBoolean" use="optional" default="true" name="usePersistentConnections"></xs:attribute>
          <xs:attribute type="mule:substitutableInt" use="optional" default="-1" name="maxConnections"></xs:attribute>
          <xs:attribute type="mule:substitutableInt" use="optional" default="30" name="connectionIdleTimeout"></xs:attribute>
          <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" default="SECONDS" name="connectionIdleTimeoutUnit"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="proxyConfig"></xs:attribute>
          <xs:attribute type="mule:substitutableBoolean" use="optional" default="false" name="streamResponse"></xs:attribute>
          <xs:attribute type="mule:substitutableInt" use="optional" default="-1" name="responseBufferSize"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" default="https://api.telegram.org" name="baseUri"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="secureToken"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.connectivity.telegram.rest.commons.api.request.RequestHeader">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="xs:string" use="required" name="key"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:telegram="http://www.mulesoft.org/schema/mule/telegram" type="telegram:com.mulesoft.connectivity.telegram.rest.commons.api.request.RequestHeader" abstract="true" name="abstract-default-header"></xs:element>
  <xs:element xmlns:telegram="http://www.mulesoft.org/schema/mule/telegram" substitutionGroup="telegram:abstract-default-header" name="default-header">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="telegram:com.mulesoft.connectivity.telegram.rest.commons.api.request.RequestHeader"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="com.mulesoft.connectivity.telegram.rest.commons.api.request.QueryParam">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType">
        <xs:attribute type="xs:string" use="required" name="key"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="value"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:telegram="http://www.mulesoft.org/schema/mule/telegram" type="telegram:com.mulesoft.connectivity.telegram.rest.commons.api.request.QueryParam" abstract="true" name="abstract-default-query-param"></xs:element>
  <xs:element xmlns:telegram="http://www.mulesoft.org/schema/mule/telegram" substitutionGroup="telegram:abstract-default-query-param" name="default-query-param">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="telegram:com.mulesoft.connectivity.telegram.rest.commons.api.request.QueryParam"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="DeleteMessageType" substitutionGroup="mule:abstract-operator" name="delete-message"></xs:element>
  <xs:complexType name="DeleteMessageType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="delete-message-request-content"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="EditMessageCaptionType" substitutionGroup="mule:abstract-operator" name="edit-message-caption"></xs:element>
  <xs:complexType name="EditMessageCaptionType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="edit-caption-message-request-content"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="EditMessageMediaType" substitutionGroup="mule:abstract-operator" name="edit-message-media"></xs:element>
  <xs:complexType name="EditMessageMediaType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="edit-media-message-request-content"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="EditMessageTextType" substitutionGroup="mule:abstract-operator" name="edit-message-text"></xs:element>
  <xs:complexType name="EditMessageTextType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="edit-text-message-request-content"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="GetUpdatesType" substitutionGroup="mule:abstract-operator" name="get-updates"></xs:element>
  <xs:complexType name="GetUpdatesType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="allowed-updates">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="allowed-update">
                  <xs:complexType>
                    <xs:attribute type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="mule:expressionInt" use="optional" name="offset"></xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" default="100" name="limit"></xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="timeout"></xs:attribute>
        <xs:attribute type="mule:expressionList" use="optional" name="allowedUpdates"></xs:attribute>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendAnimationType" substitutionGroup="mule:abstract-operator" name="send-animation"></xs:element>
  <xs:complexType name="SendAnimationType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="send-animation-message-request-content"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendAudioType" substitutionGroup="mule:abstract-operator" name="send-audio"></xs:element>
  <xs:complexType name="SendAudioType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="send-audio-message-request-content"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendDocumentType" substitutionGroup="mule:abstract-operator" name="send-document"></xs:element>
  <xs:complexType name="SendDocumentType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="send-document-message-request-content"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendMediaGroupType" substitutionGroup="mule:abstract-operator" name="send-media-group"></xs:element>
  <xs:complexType name="SendMediaGroupType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="send-media-grou-message-request-content"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendMessageType" substitutionGroup="mule:abstract-operator" name="send-message"></xs:element>
  <xs:complexType name="SendMessageType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="send-text-message-request-content"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendPhotoType" substitutionGroup="mule:abstract-operator" name="send-photo"></xs:element>
  <xs:complexType name="SendPhotoType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="send-photo-message-request-content"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/telegram" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="SendVideoType" substitutionGroup="mule:abstract-operator" name="send-video"></xs:element>
  <xs:complexType name="SendVideoType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-byte-streaming-strategy"></xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="mule:abstract-reconnection-strategy"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="send-video-message-request-content"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-query-params"></xs:element>
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="custom-headers"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionInt" use="optional" name="responseTimeout"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="java.util.concurrent.TimeUnitEnumType" use="optional" name="responseTimeoutUnit"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/telegram" type="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType" use="optional" name="streamingType"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="java.util.concurrent.TimeUnitEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="NANOSECONDS"></xs:enumeration>
          <xs:enumeration value="MICROSECONDS"></xs:enumeration>
          <xs:enumeration value="MILLISECONDS"></xs:enumeration>
          <xs:enumeration value="SECONDS"></xs:enumeration>
          <xs:enumeration value="MINUTES"></xs:enumeration>
          <xs:enumeration value="HOURS"></xs:enumeration>
          <xs:enumeration value="DAYS"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="com.mulesoft.connectivity.telegram.rest.commons.api.configuration.StreamingTypeEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="AUTO"></xs:enumeration>
          <xs:enumeration value="ALWAYS"></xs:enumeration>
          <xs:enumeration value="NEVER"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>