.mule/plugins-tmp/repository/7.11.0/fb1e4fd8-89ec-4bea-9da2-2f908fc218ae/json-logger/2.0.1/mule-json-logger.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mulesoft.org/schema/mule/json-logger" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace"></xs:import>
  <xs:import namespace="http://www.springframework.org/schema/beans" schemaLocation="http://www.springframework.org/schema/beans/spring-beans.xsd"></xs:import>
  <xs:import namespace="http://www.mulesoft.org/schema/mule/core" schemaLocation="http://www.mulesoft.org/schema/mule/core/current/mule.xsd"></xs:import>
  <xs:complexType name="org.mule.extension.jsonlogger.internal.destinations.Destination">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractExtensionType"></xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" type="json-logger:org.mule.extension.jsonlogger.internal.destinations.Destination" substitutionGroup="mule:abstract-shared-extension" abstract="true" name="global-abstract-destination"></xs:element>
  <xs:element xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" type="json-logger:org.mule.extension.jsonlogger.internal.destinations.Destination" abstract="true" name="abstract-destination"></xs:element>
  <xs:complexType name="org.mule.extension.jsonlogger.internal.destinations.JMSDestination">
    <xs:complexContent>
      <xs:extension xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" base="json-logger:org.mule.extension.jsonlogger.internal.destinations.Destination">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="log-categories">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="log-category">
                  <xs:complexType>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="jmsConfigurationRef"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="queueDestination"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionList" use="optional" name="logCategories"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionInt" use="optional" default="25" name="maxBatchSize"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" type="json-logger:org.mule.extension.jsonlogger.internal.destinations.JMSDestination" substitutionGroup="json-logger:abstract-destination" abstract="true" name="abstract-jms-destination"></xs:element>
  <xs:element xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" substitutionGroup="json-logger:abstract-jms-destination" name="jms-destination">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="json-logger:org.mule.extension.jsonlogger.internal.destinations.JMSDestination"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.jsonlogger.internal.destinations.AMQDestination">
    <xs:complexContent>
      <xs:extension xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" base="json-logger:org.mule.extension.jsonlogger.internal.destinations.Destination">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="log-categories">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="log-category">
                  <xs:complexType>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="queueOrExchangeDestination"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" default="https://mq-us-east-1.anypoint.mulesoft.com/api/v1" name="url"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="clientId"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="clientSecret"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionList" use="optional" name="logCategories"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionInt" use="optional" default="25" name="maxBatchSize"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" type="json-logger:org.mule.extension.jsonlogger.internal.destinations.AMQDestination" substitutionGroup="json-logger:abstract-destination" abstract="true" name="abstract-amq-destination"></xs:element>
  <xs:element xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" substitutionGroup="json-logger:abstract-amq-destination" name="amq-destination">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="json-logger:org.mule.extension.jsonlogger.internal.destinations.AMQDestination"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="org.mule.extension.jsonlogger.internal.destinations.AMQPDestination">
    <xs:complexContent>
      <xs:extension xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" base="json-logger:org.mule.extension.jsonlogger.internal.destinations.Destination">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element minOccurs="0" maxOccurs="1" name="log-categories">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="log-category">
                  <xs:complexType>
                    <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="required" name="value"></xs:attribute>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="amqpConfigurationRef"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionString" use="optional" name="exchangeDestination"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionList" use="optional" name="logCategories"></xs:attribute>
        <xs:attribute xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="mule:expressionInt" use="optional" default="25" name="maxBatchSize"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" type="json-logger:org.mule.extension.jsonlogger.internal.destinations.AMQPDestination" substitutionGroup="json-logger:abstract-destination" abstract="true" name="abstract-amqp-destination"></xs:element>
  <xs:element xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" substitutionGroup="json-logger:abstract-amqp-destination" name="amqp-destination">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="json-logger:org.mule.extension.jsonlogger.internal.destinations.AMQPDestination"></xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:mule="http://www.mulesoft.org/schema/mule/core" substitutionGroup="mule:abstract-shared-extension" name="config">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="mule:abstractExtensionType">
          <xs:annotation>
            <xs:documentation>Default configuration</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" ref="mule:expiration-policy"></xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="external-destination">
              <xs:complexType>
                <xs:choice minOccurs="1" maxOccurs="1">
                  <xs:element xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" minOccurs="1" maxOccurs="1" ref="json-logger:abstract-destination"></xs:element>
                  <xs:element xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" minOccurs="1" maxOccurs="1" ref="json-logger:global-abstract-destination"></xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute type="xs:string" use="optional" name="externalDestination"></xs:attribute>
          <xs:attribute type="xs:string" use="required" name="name">
            <xs:annotation>
              <xs:documentation>The identifier of this element used to reference it in other components</xs:documentation>
            </xs:annotation>
          </xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="${json.logger.application.name}" name="applicationName"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="optional" default="${json.logger.application.version}" name="applicationVersion"></xs:attribute>
          <xs:attribute type="mule:expressionString" use="required" name="environment"></xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="prettyPrint"></xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="logLocationInfo"></xs:attribute>
          <xs:attribute type="mule:expressionBoolean" use="optional" default="true" name="parseContentFieldsInJsonOutput"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="disabledFields"></xs:attribute>
          <xs:attribute type="xs:string" use="optional" name="contentFieldsDataMasking"></xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/json-logger" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="LoggerType" substitutionGroup="mule:abstract-operator" name="logger">
    <xs:annotation>
      <xs:documentation>Log a new entry</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LoggerType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="0" maxOccurs="1">
          <xs:element type="xs:string" minOccurs="0" maxOccurs="1" name="content"></xs:element>
        </xs:sequence>
        <xs:attribute type="xs:string" use="required" name="config-ref">
          <xs:annotation>
            <xs:documentation>The name of the configuration to be used to execute this component</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[correlationId]" name="correlationId"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="required" name="message"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/json-logger" type="org.mule.extension.jsonlogger.api.pojos.TracePointEnumType" use="optional" default="START" name="tracePoint"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/json-logger" type="org.mule.extension.jsonlogger.api.pojos.PriorityEnumType" use="optional" default="INFO" name="priority"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="category"></xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns="http://www.mulesoft.org/schema/mule/json-logger" xmlns:mule="http://www.mulesoft.org/schema/mule/core" type="LoggerScopeType" substitutionGroup="mule:abstract-operator" name="logger-scope">
    <xs:annotation>
      <xs:documentation>Log scope</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="LoggerScopeType">
    <xs:complexContent>
      <xs:extension xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:abstractOperatorType">
        <xs:sequence minOccurs="1" maxOccurs="1">
          <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:group minOccurs="1" ref="mule:messageProcessorOrMixedContentMessageProcessor"></xs:group>
          </xs:choice>
        </xs:sequence>
        <xs:attribute type="mule:expressionString" use="required" name="configurationRef"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/json-logger" type="org.mule.extension.jsonlogger.api.pojos.PriorityEnumType" use="optional" default="INFO" name="priority"></xs:attribute>
        <xs:attribute xmlns="http://www.mulesoft.org/schema/mule/json-logger" type="org.mule.extension.jsonlogger.api.pojos.ScopeTracePointEnumType" use="optional" default="OUTBOUND_REQUEST_SCOPE" name="scopeTracePoint"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" name="category"></xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[correlationId]" name="correlationId"></xs:attribute>
        <xs:attribute type="xs:string" use="optional" name="target">
          <xs:annotation>
            <xs:documentation>The name of a variable on which the operation's output will be placed</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute type="mule:expressionString" use="optional" default="#[payload]" name="targetValue">
          <xs:annotation>
            <xs:documentation>An expression that will be evaluated against the operation's output and the outcome of that expression will be stored in the target variable</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="org.mule.extension.jsonlogger.api.pojos.TracePointEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="START"></xs:enumeration>
          <xs:enumeration value="BEFORE_TRANSFORM"></xs:enumeration>
          <xs:enumeration value="AFTER_TRANSFORM"></xs:enumeration>
          <xs:enumeration value="BEFORE_REQUEST"></xs:enumeration>
          <xs:enumeration value="AFTER_REQUEST"></xs:enumeration>
          <xs:enumeration value="FLOW"></xs:enumeration>
          <xs:enumeration value="END"></xs:enumeration>
          <xs:enumeration value="EXCEPTION"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="org.mule.extension.jsonlogger.api.pojos.PriorityEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="DEBUG"></xs:enumeration>
          <xs:enumeration value="TRACE"></xs:enumeration>
          <xs:enumeration value="INFO"></xs:enumeration>
          <xs:enumeration value="WARN"></xs:enumeration>
          <xs:enumeration value="ERROR"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
  <xs:simpleType name="org.mule.extension.jsonlogger.api.pojos.ScopeTracePointEnumType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="DATA_TRANSFORM_SCOPE"></xs:enumeration>
          <xs:enumeration value="OUTBOUND_REQUEST_SCOPE"></xs:enumeration>
          <xs:enumeration value="FLOW_LOGIC_SCOPE"></xs:enumeration>
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction xmlns:mule="http://www.mulesoft.org/schema/mule/core" base="mule:propertyPlaceholderType"></xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>
</xs:schema>